name: openmptcprouter
on: [push]

env:
  REPO_URL: 'https://github.com/lblabr/openmptcprouter'

jobs:
  build:
    strategy:
      matrix:
        OMR_TARGET: [z8102ax-emmc]
        OMR_KERNEL: [6.12]
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
    - name: Branch name
      id: branch_name
      run: |
        echo "SOURCE_NAME=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
        echo "SOURCE_BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        echo "SOURCE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        echo "WORKSPACE=${GITHUB_WORKSPACE}" >> $GITHUB_OUTPUT
    - name: Prepare
      run: |
        sudo apt-get update
        sudo apt-get install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch unzip zlib1g-dev lib32gcc-s1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler python3-pyelftools llvm clang
    - if: matrix.OMR_KERNEL == '6.6'
      name: Install LLVM
      run: |
        sudo apt-get install llvm clang
    - name: Free disk space
      run: |
        df -h
        sudo swapoff -a >/dev/null 2>&1 || true
        sudo rm -f /swapfile >/dev/null 2>&1 || true
        sudo apt-get autoremove -y >/dev/null 2>&1 || true
        sudo apt-get autoclean -y >/dev/null 2>&1 || true
        sudo rm -rf "/usr/local/share/boost" >/dev/null 2>&1 || true
        sudo rm -rf "$AGENT_TOOLSDIRECTORY" >/dev/null 2>&1 || true
        sudo rm -rf /usr/share/dotnet >/dev/null 2>&1 || true
        sudo rm -rf /usr/local/lib/android >/dev/null 2>&1 || true
        sudo rm -rf /opt/ghc >/dev/null 2>&1 || true
        sudo docker rmi $(docker images -qf "dangling=true") >/dev/null 2>&1 || true
        df -h
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: cache workdir
      uses: actions/cache@v5.0.1
      env: 
        SOURCE_NAME: ${{ steps.branch_name.outputs.SOURCE_NAME }}
        OMR_TARGET: ${{ matrix.OMR_TARGET }}
        OMR_KERNEL: ${{ matrix.OMR_KERNEL }}
        OMR_HOST: ${{ secrets.OMR_HOST }}
        OMR_PORT: ${{ secrets.OMR_PORT }}
      with:
        path: /workdir
        key: ${{ runner.os }}-workdir-${{ env.OMR_TARGET }}
        restore-keys: |
          ${{ runner.os }}-workdir-${{ env.OMR_TARGET }}

    - name: Clone source code
      working-directory: /workdir
      env: 
        REPO_URL: https://github.com/lblabr/openmptcprouter
        SOURCE_NAME: ${{ steps.branch_name.outputs.SOURCE_NAME }}
        GITHUB_WORKSPACE: ${{ steps.branch_name.outputs.WORKSPACE }}
      run: |

        if [ -d "/workdir/omr" ]; then
          touch /workdir/omr/exist
          cd omr
          git pull
        else
          echo "existiert nicht"
          git clone $REPO_URL omr
          cd omr
        fi
        
        if [ "$SOURCE_NAME" != "develop" ] && [ "$SOURCE_NAME" != "openwrt" ] && [ "$SOURCE_NAME" != "main" ] || [ "$SOURCE_NAME" == "" ]; then
          pwd
          git fetch
          git checkout master
        else
          git checkout $SOURCE_NAME
        fi
        git pull
        pwd
    - name: Build toolchain
      working-directory: /workdir/omr
      env:
        OMR_FEED_URL: https://github.com/lblabr/openmptcprouter-feeds
        SOURCE_NAME: ${{ steps.branch_name.outputs.SOURCE_NAME }}
        OMR_TARGET: ${{ matrix.OMR_TARGET }}
        OMR_KERNEL: ${{ matrix.OMR_KERNEL }}
        OMR_HOST: ${{ secrets.OMR_HOST }}
        OMR_PORT: ${{ secrets.OMR_PORT }}
      run: |
        OMR_KERNEL="${OMR_KERNEL}" OMR_DIST="${SOURCE_NAME}" OMR_FEED_SRC="${SOURCE_NAME}" sh build.sh prepare {tools,toolchain}/install -j$(nproc) || OMR_KERNEL="${OMR_KERNEL}" OMR_DIST="${SOURCE_NAME}" OMR_FEED_SRC="${SOURCE_NAME}" sh build.sh prepare {tools,toolchain}/install -j1 V=s
        #echo -e "${{ secrets.OMR_PRIVKEY }}" > $OMR_TARGET/$OMR_KERNEL/source/key-build
        #echo -e "${{ secrets.OMR_PUBKEY }}" > $OMR_TARGET/$OMR_KERNEL/source/key-build.pub
    - name: Build packages
      working-directory: /workdir/omr
      env:
        OMR_TARGET: ${{ matrix.OMR_TARGET }}
        OMR_KERNEL: ${{ matrix.OMR_KERNEL }}
      run: |
        make IGNORE_ERRORS=m -C $OMR_TARGET/$OMR_KERNEL/source package/{compile,install,index} -j$(nproc) || make IGNORE_ERRORS=m -C $OMR_TARGET/$OMR_KERNEL/source package/{compile,install,index} -j1 V=s
    - name: Build image
      working-directory: /workdir/omr
      env:
        OMR_TARGET: ${{ matrix.OMR_TARGET }}
        OMR_KERNEL: ${{ matrix.OMR_KERNEL }}
      run: |
        make IGNORE_ERRORS=m -C $OMR_TARGET/$OMR_KERNEL/source target/install -j$(nproc) || make IGNORE_ERRORS=m -C $OMR_TARGET/$OMR_KERNEL/source target/install -j1 V=s
        find .
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.OMR_TARGET }}
        path: /workdir/omr/${{ matrix.OMR_TARGET }}/${{ matrix.OMR_KERNEL }}/source/bin
        overwrite: true
    - if: steps.branch_name.outputs.SOURCE_BRANCH == ''
      name: Deploy - Create directory
      uses: ysurac/ssh-action@master
      env:
          SOURCE_NAME: ${{ steps.branch_name.outputs.SOURCE_NAME }}
          SOURCE_BRANCH: ${{ steps.branch_name.outputs.SOURCE_BRANCH }}
          SOURCE_TAG: ${{ steps.branch_name.outputs.SOURCE_TAG }}
      with:
        command: |
          mkdir -p deploy/release/${{env.SOURCE_TAG}}/${{matrix.OMR_TARGET}}
        host: ${{ secrets.OMR_DEPLOY_HOST }}
        user: ${{ secrets.USERNAME }}
        port: ${{ secrets.OMR_DEPLOY_PORT }}
        pass: ${{ secrets.PASSWORD }}
        args: -tt
    - if: steps.branch_name.outputs.SOURCE_BRANCH != ''
      name: Deploy - Create directory
      uses: ysurac/ssh-action@master
      env:
          SOURCE_NAME: ${{ steps.branch_name.outputs.SOURCE_NAME }}
          SOURCE_BRANCH: ${{ steps.branch_name.outputs.SOURCE_BRANCH }}
          SOURCE_TAG: ${{ steps.branch_name.outputs.SOURCE_TAG }}
      with:
        command: |
          mkdir -p deploy/${{env.SOURCE_BRANCH}}/${{matrix.OMR_KERNEL}}/${{matrix.OMR_TARGET}}
        host: ${{ secrets.OMR_DEPLOY_HOST }}
        user: ${{ secrets.USERNAME }}
        port: ${{ secrets.OMR_DEPLOY_PORT }}
        pass: ${{ secrets.PASSWORD }}
        args: -tt
    - name: Move binaries for rsync
      working-directory: /workdir/omr
      env:
        OMR_TARGET: ${{ matrix.OMR_TARGET }}
        OMR_KERNEL: ${{ matrix.OMR_KERNEL }}
        GITHUB_WORKSPACE: ${{ steps.branch_name.outputs.WORKSPACE }}
      run: |
        mv ${OMR_TARGET}/${OMR_KERNEL}/source/bin ${GITHUB_WORKSPACE}/
    - if: steps.branch_name.outputs.SOURCE_BRANCH == ''
      name: Deploy - Upload via rsync
      uses: up9cloud/action-rsync@master
      env:
        VERBOSE: true
        ARGS: -av --delete-after
        TARGET: deploy/release/${{steps.branch_name.outputs.SOURCE_TAG}}/${{matrix.OMR_TARGET}}
        SOURCE: ./bin/
        HOST: ${{ secrets.OMR_DEPLOY_HOST }}
        PORT: ${{ secrets.OMR_DEPLOY_PORT }}
        USER: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}      
        SOURCE_NAME: ${{ steps.branch_name.outputs.SOURCE_NAME }}
        SOURCE_BRANCH: ${{ steps.branch_name.outputs.SOURCE_BRANCH }}
        SOURCE_TAG: ${{ steps.branch_name.outputs.SOURCE_TAG }}
        GITHUB_WORKSPACE: ${{ steps.branch_name.outputs.WORKSPACE }}
    - if: steps.branch_name.outputs.SOURCE_BRANCH != ''
      name: Copy files via SSH
      uses: appleboy/scp-action@v1
      env:
        VERBOSE: true
        ARGS: -av --delete-after
        SOURCE: ./bin/
        HOST: ${{ secrets.OMR_DEPLOY_HOST }}
        PORT: ${{ secrets.OMR_DEPLOY_PORT }}
        USER: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}
        SOURCE_NAME: ${{ steps.branch_name.outputs.SOURCE_NAME }}
        SOURCE_BRANCH: ${{ steps.branch_name.outputs.SOURCE_BRANCH }}
        SOURCE_TAG: ${{ steps.branch_name.outputs.SOURCE_TAG }}
        GITHUB_WORKSPACE: ${{ steps.branch_name.outputs.WORKSPACE }}
        TARGET: deploy/${{ steps.branch_name.outputs.SOURCE_BRANCH }}/${{matrix.OMR_KERNEL}}/${{matrix.OMR_TARGET}}

      with:
        host: ${{ secrets.OMR_DEPLOY_HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        source: "./bin/"
        TARGET: deploy/${{ steps.branch_name.outputs.SOURCE_BRANCH }}/${{matrix.OMR_KERNEL}}/${{matrix.OMR_TARGET}}
